
<div class="jumbotron">
  <h1 class="display-3">Meldesystem für kritische Ereignisse</h1>
  <hr class="my-4">
  <p>Wilkommen beim Meldesystem für kritische Ereignisse (englisch Critical Incident Reporting System - abgekürzt "CIRS"). 
    Hier können und sollen Mitarbeiterinnen und Mitarbeiter kritische Ereignisse und Beinahe-Fehler melden um allen
    beteiligten Berufsgruppen ein gemeinsames Lernen aus solchen Ereignissen zu ermöglichen. Die Medlngen werden
    anonym erfasst und anschließend von unserem CIRS-Team in regelmäßigen Sitzungen bearbeitet um etwaige Verbesserungen
    in Verfahren und Abläufen anzustoßen.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="incidents/new" role="button">Ereignis melden</a>
  </p>
</div>